@inherits Piranha.WebPages.LayoutPage
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@Page.Title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        @UI.Head()

        <link type="text/css" rel="stylesheet" href="@Href("~/content/css/style.css")" />

        @RenderSection("head", required: false)
    </head>
    <body>
        <header role="banner">
            <div class="wrapper">
                <a class="site-title" href="@Href("~/")">@Piranha.Models.SysParam.GetByName("SITE_TITLE").Value</a>
                <p class="site-desc">@Piranha.Models.SysParam.GetByName("SITE_DESCRIPTION").Value</p>
                <navigation role="main-navigation">
                    @UI.Menu(StopLevel: 1)
                </navigation>
            </div>
        </header>
        <div class="wrapper">
            @RenderBody()
        </div>
    </body>
    @RenderSection("script", required: false)
</html>